@media (max-width: 1057px){
    .chatbox{
        width: 52rem;
        margin-left: 121px;
    }
    .message{
        margin-left: 168px;
        
    }
    .btn{
        margin-left: 591px;
    }
    .main{
        font-size: 28px;
        margin-left: 25rem;
        font-weight: bolder;
    }
    h1{
        font-size: 27px;
        margin-left: 25rem;
    }
    .btn-dele{
        margin-left: 26rem;
        width: 87px;
    }
}